@charset "UTF-8";

* {
  font-family: 'Lexend Deca';
  /* cursor: url('assets/pngs/nemo.png'), pointer; */
}

.container{
  position: relative;
  /* --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5); */
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}





.bground{
  background-image: url("../assets/underWaterScene.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.bubble{
  margin: auto;
  position: relative;
  z-index: 9999;
}
.big{
  width: 30vh;
}

.icon{
  position: absolute;
  height: 12.5vh;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable{
  cursor: pointer;
}

.bruce{
  height: 30vh;
  position: absolute;
  z-index: 5;
  display: inline-block;
  transform: "scaleX(1)";
}